.hn-bg-3498db{
  background-color: #3498db;
}
.hn-bg-f0f0f0{
  background-color: #f0f0f0;
}
.hn-bg-e74c3c{
  background-color: #e74c3c;
}
.hn-bg-ffffff{
  background-color: #ffffff;
}

.hn-fs-24{
  font-size: 24px;
}
.hn-fs-18{
  font-size: 18px;
}
.hn-fs-16{
  font-size: 16px;
}
.hn-fs-14{
  font-size: 14px;
}
.hn-fs-12{
  font-size: 12px;
}
.hn-fs-10{
  font-size: 10px;
}

.hn-c-000{
  color: #000;
}
.hn-c-1a1a1a{
  color: #1a1a1a;
}
.hn-c-333{
  color: #333;
}
.hn-c-4d4d4d{
  color: #4d4d4d;
}
.hn-c-666{
  color: #666;
}
.hn-c-808080{
  color: #808080;
}
.hn-c-999{
  color: #999;
}
.hn-c-b3b3b3{
  color: #b3b3b3;
}
.hn-c-ccc{
  color: #ccc;
}
.hn-c-e6e6e6{
  color: #e6e6e6;
}
